*.o
test/cputest
sdl/k4510
rom/*.bin
rom/*.lst
test/maptest
test/dmatest
test/vicketest
test/capture
test/sidtest
test/fstest
test/romtest
rom/kernal.bin
rom/kernal.s
rom/*.o
rom/kernal.map
fs/out.bin
demo/*.o
demo/*.s
demo/*.map
basic/*.o
test/headless
test/banktest
!demo/segdemo-header.s
test/mathtest
test/woztest
dumps/
!demo/sidplay0.s
!demo/sidplay-header.s
doc/guide/shots/
doc/guide/*.aux
doc/guide/*.log
doc/guide/*.out
doc/guide/*.toc
doc/guide/*.pdf
tube/*.o
tube/bbcbasic
