*.o
test/cputest
sdl/k4510
rom/*.bin
rom/*.lst
test/maptest
test/dmatest
test/vicketest
test/capture
test/sidtest
test/fstest
test/romtest
rom/kernal.bin
rom/kernal.s
rom/*.o
rom/kernal.map
fs/out.bin
demo/*.o
demo/*.s
demo/*.map
basic/*.o
